@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap'); 
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

html, body {
  margin: 0px;
  padding: 0px;
}
#canvas-basic {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
}
.card-max-width {
  max-width: 600px;
  margin: 0 auto;
}
:root{
--mint-green: rgb(6, 161, 151);
--ice-blue: rgb(144, 197, 21);
--melon: rgb(8, 167, 48); /*navbar */
--charcoal: #274156ff; /* textos */
--light-coral: rgb(9, 185, 33); /*buttons*/
}

.btn-primary{
  --bs-btn-color: #fff;
    --bs-btn-bg: var(--light-coral);
    --bs-btn-border-color: var(--light-coral);
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: var(--melon);
    --bs-btn-hover-border-color: var(--melon);
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--melon);
    --bs-btn-active-border-color: var(--melon);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}

.btn-outline-primary {
  --bs-btn-color: white;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--light-coral);
    --bs-btn-hover-border-color: var(--light-coral);
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--melon);
    --bs-btn-active-border-color: var(--melon);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #0d6efd;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #0d6efd;
    --bs-gradient: none;
}
.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: black;
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;}

  .nav-tabs .nav-link.active {
    color: var(--light-coral);
    background-color: var(--bs-nav-tabs-link-active-bg);
    border-color: var(--bs-nav-tabs-link-active-border-color);
    --bs-nav-tabs-border-color: transparent;
  }
    .nav {
      --bs-nav-link-padding-x: 1rem;
      --bs-nav-link-padding-y: 0.5rem;
      --bs-nav-link-font-weight: ;
      --bs-nav-link-color: var(--melon); 
      --bs-nav-link-hover-color: var(--melon); 
      --bs-nav-link-disabled-color: var(--melon);
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
  }



